html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  height: 50px;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #213a3d;
}

header img {
  width: 220px;
  height: 32px;

  object-fit: contain;
}

#start-page {
  display: block;
}

.game-start {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-start h1 {
  margin: 0;
  padding: 0;
  font-size: 7rem;
  cursor: pointer;
}

.game-start h1:hover {
  color: #213a3d;
}

#play-page {
  display: none;
  width: 100%;
  height: 100vh;
}

.play-page__header {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.play-page__header img {
  width: 50px;
}

.score {
  position: absolute;
  right: 30px;
  font-size: 30px;
}

.play-page {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.play-content {
  width: 100%;
}

.play-input-wrapper {
  margin-top: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#play-input {
  font-size: 30px;
  background-color: gainsboro;
  text-align: center;
  border: none;
}

#play-input::-webkit-outer-spin-button,
#play-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#play-input:focus {
  background-color: cornsilk;
}

.answer-board {
  margin-top: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
  list-style-type: none;

  font-size: 1.5rem;
}

.list li {
  margin-bottom: 10px;
}

.list-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-wrapper:first-child {
  border-right: #213a3d solid 1px;
}